<img src="assets/icons/bfilogo.jpg" size="15px">
<h1  id="title" class="title">Login</h1>
<p class="sub-title">Hello! Log in with your username.</p>
<nb-alert *ngIf="mode==1" outline="danger" role="alert">
  <p class="alert-title text-center"><b> Invalid username or password.</b></p>
</nb-alert>
<form   [formGroup]="formData"  (ngSubmit)="login" aria-labelledby="title"  ngNativeValidate>
  <div class="form-control-group">
    <label class="label" for="username">Username:</label>
<input nbInput fullWidth
       placeholder="Username"
       fieldSize="large"
       autofocus
       type= "text"
       name="username"
       class= "form-control"
       formControlName="user"/>
</div>
  <div class="form-control-group">
      <label class="label" for="input-password">Password:</label>
<input nbInput fullWidth
       type= "password" name="password"
       formControlName="password"
       placeholder="Password"
       fieldSize="large"
      class= "form-control"
       formControlName="pass" />
</div>
  <button nbButton type= "submit" (click)="login()"  size="large"  status="primary">Login</button>
</form>
