 <nb-card >

  <nb-card-header><div><button nbButton ghost ><nb-icon icon="arrow-back-outline" routerLink="/pages/miscellaneous/UpdateCalendar" style="margin-bottom: 15px" style="margin-left: 10px"></nb-icon></button></div>
  </nb-card-header><hr>
 <nb-card-body>
   <form  [formGroup]="registerForm"   >
    <div class="form-row">
      <div class="form-group col">
        <label class="label">Mois</label>
        <nb-select   fullWidth formControlName = "day" >
          <nb-option value="MONDAY" >Lundi</nb-option>
          <nb-option value="TUESDAY" >Mardi</nb-option>
          <nb-option value="WEDNESDAY" >Mercredi</nb-option>
          <nb-option value="THURSDAY" >Jeudi</nb-option>
          <nb-option value="FRIDAY" >Vendredie</nb-option>
          <nb-option value="SATURDAY" >Samedie</nb-option>
          <nb-option value="SUNDAY" >Dimanche</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-row" >
      <div class="form-group col">
        <label class="label">  </label>
        <input  fullWidth type="hidden"  class="form-control" formControlName = "id"  name="id" >
      </div>
    </div>
     <div>
       <hr>
       <button outline nbButton status="primary" size="small" (click)="onSubmit(registerForm.value)"  routerLink="/pages/miscellaneous/UpdateCalendar">Enregistrer</button>
       <button outline style="margin-left: 10px" class="btn btn-secondary" nbButton type="reset" size="small" (click)="onReset()">Annuler</button>
     </div>


   </form>
 </nb-card-body>
 </nb-card>

