<nb-card >

  <nb-card-header> <button nbButton ghost ><nb-icon icon="arrow-back-outline" routerLink="/pages/miscellaneous/Client" style="margin-bottom: 15px" style="margin-left: 10px"></nb-icon></button>
    Ajouter Personne</nb-card-header><hr>
  <nb-card-body>
    <form  [formGroup]="registerForm" >
      <div class="form-row" >

        <div class="form-group col">
          <label class="label">Libellé Court </label>
          <input  fullWidth type="text"  class="form-control" formControlName = "libcou"  name="libcou" fullWidth>
        </div>
      </div>
      <div class="form-row" >
        <div class="form-group col">
          <label class="label">Libellé Long </label>
          <input  fullWidth type="text"  class="form-control" formControlName = "liblon"  name="liblon" fullWidth>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <nb-checkbox  class="form-control" formControlName = "resident">Resident</nb-checkbox>
        </div>
      </div>
      <div class="form-row" >
        <div class="form-group col">
          <label class="label">Prénom </label>
          <input  fullWidth type="text"  class="form-control" formControlName = "firstName"  name="firstName" fullWidth>
        </div>
      </div>
      <div class="form-row" >
        <div class="form-group col">
          <label class="label">Nom </label>
          <input  fullWidth type="text"  class="form-control" formControlName = "lastName"  name="lastName" fullWidth>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label class="label">Sexe</label>
          <nb-select   name="sexe" class="form-control-file" fullWidth formControlName = "gender">
            <nb-option value="Male" >Male</nb-option>
            <nb-option value="Female" >Female</nb-option>
          </nb-select>
        </div>
      </div>
      <div class="form-row" >
        <div class="form-group col">
          <label class="label">Date de naissance</label>
          <input  [nbDatepicker]="datepicker" class="form-control" formControlName = "birthday">
          <nb-datepicker #datepicker></nb-datepicker>
        </div>
      </div>

          <div class="form-row">
          <div class="form-group col">
            <label class="label">Groupe</label>
            <nb-select   name="group" class="form-control-file" fullWidth >
              <nb-option >None</nb-option>
              <nb-option *ngFor="let item of group" [value]="item.id" >{{
                item.groupName
              }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label class="label">Role</label>
            <nb-select   name="role" class="form-control-file" fullWidth >
              <nb-option >None</nb-option>
              <nb-option *ngFor="let item of role" [value]="item.id" >{{
                item.Role
              }}</nb-option>
            </nb-select>
          </div>
        </div>




    </form>
  </nb-card-body>
  </nb-card>


  <nb-card>
    <nb-card-header>
      Contact
    </nb-card-header><hr>
    <nb-card-body>
      <form [formGroup]="formContact" >
        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Adresse </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "translatedAddress" fullWidth>
          </div>
        </div>
        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Téléphone </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "phone" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Mobile </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "mobile" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Fax </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "fax" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Email </label>
            <input  fullWidth  type="email"  class="form-control" formControlName = "email" fullWidth  placeholder="pat@example.com">
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Code Postal </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "zipCode" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Commentaire </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "freeText" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Fonction contact </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "contactFunction" fullWidth>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Nom contact </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "contactName" fullWidth>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col">
            <label class="label">Language</label>
            <nb-select  formControlName="language" name="language" class="form-control-file" fullWidth >
              <nb-option >None</nb-option>
              <nb-option *ngFor="let item of languageList; let i = index"
              [value]="item"
              >{{ item }}</nb-option>
            </nb-select>
          </div>
        </div>

        <div class="form-row" >

          <div class="form-group col">
            <label class="adresse">Formule Politesse </label>
            <input  fullWidth type="text"  class="form-control" formControlName = "formulePolitesse" fullWidth>
          </div>
        </div>

      </form>
      <hr>
      <button outline nbButton status="primary" size="small"  (click)="onSubmit(registerForm.value)" >Enregistrer</button>
      <button outline style="margin-left: 10px" class="btn btn-secondary" nbButton type="reset" size="small" (click)="onReset()">Annuler</button>
    </nb-card-body>
  </nb-card>

