<nb-card >

  <nb-card-header><div><button nbButton ghost ><nb-icon icon="arrow-back-outline" routerLink="/pages/miscellaneous/UpdateCalendar" style="margin-bottom: 15px" style="margin-left: 10px"></nb-icon></button></div>
  </nb-card-header><hr>
 <nb-card-body>
   <form  [formGroup]="registerForm"   >
     <div class="form-row" >
       <div class="form-group col">
         <label class="label">Jour </label>
         <input  fullWidth type="text"  class="form-control" formControlName = "day"  name="day" >
       </div>
     </div>
   <!--   <div class="form-row" >
      <div class="form-group col">
        <label class="label">Mois </label>
        <input  fullWidth type="text"  class="form-control" formControlName = "month"  name="month" >
      </div>
    </div> -->
    <div class="form-row">
      <div class="form-group col">
        <label class="label">Mois</label>
        <nb-select   fullWidth formControlName = "month" >
          <nb-option value="1" >Janvier</nb-option>
          <nb-option value="2" >Février</nb-option>
          <nb-option value="3" >Mars</nb-option>
          <nb-option value="4" >Avril</nb-option>
          <nb-option value="5" >Mai</nb-option>
          <nb-option value="6" >Juin</nb-option>
          <nb-option value="7" >Juillet</nb-option>
          <nb-option value="8" >Aout</nb-option>
          <nb-option value="9" >Septembre</nb-option>
          <nb-option value="10" >Octobre</nb-option>
          <nb-option value="11" >Novembre</nb-option>
          <nb-option value="12" >Décembre</nb-option>
        </nb-select>
      </div>
    </div>
    <div class="form-row" >
      <div class="form-group col">
        <label class="label">Description </label>
        <input  fullWidth type="text"  class="form-control" formControlName = "description"  name="description" >
      </div>
    </div>
    <div class="form-row" >
      <div class="form-group col">
        <label class="label">  </label>
        <input  fullWidth type="hidden"  class="form-control" formControlName = "id"  name="id" >
      </div>
    </div>
     <div>
       <hr>
       <button outline nbButton status="primary" size="small" (click)="onSubmit(registerForm.value)"  routerLink="/pages/miscellaneous/UpdateCalendar">Enregistrer</button>
       <button outline style="margin-left: 10px" class="btn btn-secondary" nbButton type="reset" size="small" (click)="onReset()">Annuler</button>
     </div>


   </form>
 </nb-card-body>
 </nb-card>
